[Unit]
Description=Bootstrap System
Wants=network-online.target
After=network-online.target ublue-system-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bootstrap-system
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target